.navbar {
    padding: 0 !important;
    background: #000306;
    color: #ffffff;

    .nav-link {
        padding: 15px 10px !important;
        color: #ffffff !important;
    }

    .nav-link.active,
    .nav-link:hover {
        font-weight: bold;
        background-color: #0066cc;
    }

    .navbar-toggler {
        color: #ffffff !important;
    }
}

/* Add this to your CSS file */
.appoint_div {
    width: 250px;
    padding: 10px 20px;
    margin: 5px 30px 5px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #495057ba;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    transition: 0.25s;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.appoint_div:hover,
.appoint_div.active {
    background-color: #0066cc;
    transition: 0.3s;
    transform: scale(1.05);
}

.appointmentPage {
    background-color: #ffffff26;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px #adb5bd;
    .newAppointment {
        .col-sm-6,.col-sm-12 {
            margin-bottom: 20px;

            p {
                margin: 0 0 7px 0;
            }

            input,
            select {
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #6c757d;
            }

            span {
                width: inherit;
                display: inline-block;

                input {
                    width: auto;
                }
            }
        }
    }
    .btn{
        margin-top: 10px;
        width: -webkit-fill-available;
        transition: 0.5s all;
        padding: 10px 10px;
        font-weight: bold;
        &:hover{
            transform: scale(1.01);
            transition: 0.5s all;
        }
    }
}

.back-btn{
    width: fit-content;
    padding: 8px 30px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 #c7c7c7;
    transition: 0.5s all;
    &:hover{
        background-color: #000;
        color: #ffffff;
        transition: 0.5s all;
        transform: scale(1.1);
    }
}